//
//  Secrets.xcconfig
//  MoviesApp
//
//  Created by Javier Heisecke on 2024-08-15.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TMDB_API_KEY = "3598377915feffc3b24a9ca06a7b3e07"
TMBD_API_READ_ACCESS_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNTk4Mzc3OTE1ZmVmZmMzYjI0YTljYTA2YTdiM2UwNyIsIm5iZiI6MTcyMzcyODE3OS44MDc4Nywic3ViIjoiNjI5NjQyYWIwZjIxYzYxNTM5NTBhM2RmIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.yUEuxUsKdsFTpc1tAc_kEJqeiBVS86VUKWDHMj3DTfU"
